body {
  background-image: url("../assets/images/7603436.jpg");
  background-size: cover;
  height: auto;
  overflow: hidden;
}

button:hover{
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 10vh;
}

h2 {
  color: white;
  font-size: 2vh;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  color: white;
  font-size: 1.4vh;
  font-family: monospace;
  margin-top: -8%;
  margin-bottom: 5%;
  width: 80%;
}

.header {
  margin-top: 4.7%;
  margin-left: 11%;
}

.header_button {
  margin-top: -3%;
  margin-left: 50%;
  display: flex;
}

.header_button h2 {
  margin-right: 7%;
}

.nav_button_home{
  background: none;
  border: none;
  margin-right: 2%;
  margin-top: 3%;
}

.nav_button_home:hover h2{
  color: white;
}

.nav_button{
  background: none;
  border: none;
  margin-right: 2%;
}

.nav_button:hover h2{
  color: orangered;
}

.home_button {
  margin-top: 0;
  color: orangered;
  font-size: 4vh;
  border-bottom: 1px solid orangered;
}

.main_text {
  width: 25%;
  margin-left: 7.5%;
}

.sign_up_button {
  color: orange;
  font-size: 1.5vh;
  font-weight: bold;
  background-color: white;
  width: 20%;
  height: 4vh;
  border-radius: 20px;
  border: none;
  margin-right: 5%;
}

.sign_up_button:hover{
  color: white;
  background: linear-gradient(to bottom, orange, orangered);
}

.play_button {
  color: white;
  background: linear-gradient(to bottom, orange, orangered);
  font-size: 1.7vh;
  font-weight: bold;
  background-color: white;
  width: 20%;
  height: 4vh;
  border-radius: 20px;
  border: none;
}

.play_button:hover{
  color: orange;
  background-color: white;
  background: white;
}

.play_img{
  width: 1vw;
}

.image_section {
  width: 40%;
  height: 50vh;
  margin-left: 55%;
  margin-top: -25%;
  display: flex;
  flex-wrap: wrap;
}

.frame {
  margin-top: -13.7%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.main_image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media only screen and (max-width: 1) {
  .main_image {
    width: 100%;
    height: auto;
  }

  .image_section {
    width: 80%;
    margin-left: 10%;
  }
}

.frame_text {
  display: flex;
  flex-wrap: wrap;
  margin-top: -11.7%;
  margin-left: 21.5%;
  color: black;
  font-size: 13px;
  width: 60%;
  font-weight: bold;
  max-width: 100%;
}

.social_media {
  margin-right: 3.5%;
  float: right;
  width: 2%;
  margin-top: -5%;
}

@media only screen and (max-width: 768px) {
  .social_media {
    height: 10%;
    margin-top: -3%;
    font-size: 1vw;
  }
  .social_img{
    width: 75%;
    height: 75%;
  }

  .frame_text {
    width: 60%;
    font-size: 0.9vw;
  }
}

.follow {
  color: white;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform: translateX(-60%) translateY(-10%);
}


.animated-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveLeftRight 2s ease-in-out infinite alternate;
  width: 15%;
}

.animated-circle {
  position: absolute;
  top: 30%;
  left: 92%;
  transform: translate(-50%, -50%);
  animation: moveUpDown 2s ease-in-out infinite alternate;
  width: 15%;
}

@keyframes moveUpDown {
  0% {
      transform: translate(-50%, -50%) translateY(0);
  }
  100% {
      transform: translate(-50%, -50%) translateY(-20px);
  }
}

@keyframes moveLeftRight {
  0% {
      transform: translate(-50%, -50%) translateX(0);
  }
  100% {
      transform: translate(-50%, -50%) translateX(-20px);
  }
}