<body>
  <div class="header">
    <h2>Metaverse</h2>
    <div class="header_button">
      <button class="nav_button_home">
        <h2 class="home_button">Home</h2>
      </button>
      <button class="nav_button">
      <h2>About</h2>
    </button>
      <button class="nav_button">
      <h2>Gallery</h2>
    </button>
      <button class="nav_button">
      <h2>Menu</h2>
    </button>
      <button class="nav_button">
      <h2>Contact</h2>
    </button>
    </div>
  </div>
  <div class="main_text">
    <h1>Let’s step into a new dimension</h1>
    <h3>
      Metaverse is used to describe an ecosystem that can find elements,
      creations, experiences, and interactions. In the world of Metaverse you
      can use persistent space.
    </h3>
    <button class="sign_up_button">Sign up</button>
    <button class="play_button">
      <img class="play_img" src="../assets/images/Shape.png" /> Play
    </button>
  </div>
  <div class="image_section">
    <img  src="../assets/images/picture_shape.png" class="animated-image" alt="Animated Image" />
    <img class="main_image" src="../assets/images/main_image.png" />
    <p class="frame_text">
      Together with Metaverse, the future of the virtual world is bright and
      promising. Metaverse making work in virtual reality will provide great
      multitasking opportunities.
    </p>
  </div>
  <img  src="../assets/images/picture_circle.png" class="animated-circle" alt="Animated Circle" />
  <div class="social_media">
    <p class="follow">follow on</p>
    <img class="social_img" src="../assets/images/Twitter_Icon.png" />
    <img class="social_img" src="../assets/images/Facebook_Icon.png" />
    <img class="social_img" src="../assets/images/Instagram_ Icon.png" />
  </div>
</body>
